.search{
    margin: 2% auto 2% auto;
}

.search input{
    width: 64%;
}

.search .btnSearch{
    width: 6%;
}

.tab_todo_table_add {
    width: 70%;
    margin: 2% auto 0% auto;
}

.tab_todo_add_btn {
    width: 100%;
    margin-top: 0%;
}

.tab_todo_detail_btn {
    margin-bottom: 2%;
    float: left
}

.tabIndex {
    width: 90%;
    margin: 2% auto 0% auto;
}

.todo_edit_action{

}

.todo_add_action{

}

.todo_action_tips{

}